.row-wrap{display: flex;flex-flow: row wrap;}
.row-nowrap{display: flex;flex-flow: row nowrap;}
.column{display: flex;flex-direction: column;}
.holamundo{color:white;}
.base-between{justify-content:  space-between;}
.base-around{justify-content: space-around;}
.base-center{justify-content: center;}
.base-end{justify-content: flex-end;}
.base-start{justify-content: flex-start;}
.base-stretch{justify-content: stretch;}

.opuesto-center{align-items: center;}
.opuesto-start{align-items: flex-start;}
.opuesto-end{align-items: flex-end;}
.opuesto-between{align-items: space-between;}
.opuesto-stretch{align-items: stretch;}
*{padding:0px; margin:0px;}
html, body{width: 100%; height:100%;}

.width-100{width: 100%;}
.width-90{width: 90%;}
.width-80{width: 80%;}
.width-20{width: 20%;}

.height-100{height: 100%;}
.height-25{height: 25%;}


.fondo-1{background: #333333;}
.fondo-2{background: #00D7F3;}
.fondo-3{background: #FFDE00;}
.fondo-4{background: #FF7A00;}
.fondo-5{background: #FE0011;}

.margin-top-30px{margin-top: 30px;}
.margin-2px{margin:2px;}
.margin-5px{margin:5px;}

.color-white{color: white;}

.font-sans-serif{
  font-family: Arial, Helvetica, sans-serif;
}

.hover-texto:hover{color: #C4C6C7;}
